@charset "UTF-8";
html{
  scroll-behavior: smooth;
}
body {
  background: #0f0f0f;
  color: #f8f8f8;
  text-align: center;
  font-family: 'Nanum Gothic', sans-serif;
}
h1 {
  font-size: 7em;
  margin: 0.5em auto 0;
}
h2 {
  font-size: 4em;
  margin: 0 auto;
}
p {
  margin: 0.7vh auto;
  font-size: 1.5em;
}
section {
  margin: 1.5em auto;
}
.lyric-masthead {
  margin: 3em auto;
}
.verse1 p, .verse2 p, .bridge1 p, .bridge2 p {
    margin: 0;
  }
.talk-linger {
  letter-spacing: 0.15em;
  text-shadow: 0px -2px 5px rgba(255, 177, 177, 0.8);
}
.talk-stress {
  letter-spacing: 0.16em;
  font-weight: bolder;
  text-shadow: 2px 2px 5px rgba(191, 31, 5, 0.8);
  font-style: oblique;
}
.talk-force {
  font-weight: bolder;
}
.screech {
  font-family: 'Protest Strike', sans-serif;
  color: #A12828;
  text-transform: uppercase;
  text-shadow: 0 0 5px #801a1a;
  font-style: oblique;
  font-size: 1.2em;
}
.talk-chant {
  letter-spacing: 0.17em;
  text-shadow: 0px -2px 10px rgba(255, 177, 177, 0.8);
}
.talk-songy {
  letter-spacing: 0.16em;
}
.talk-yell {
  font-family: 'Protest Strike', sans-serif;
  letter-spacing: 0.17em;
  color: #A12828;
  font-style: oblique;
  font-size: 1.7em;
  text-transform: uppercase;
}
footer {
    color: #666666;
}